@model ClientsViewModel

@{
    ViewData["Title"] = "Clients";
}

@*TODO create partial for this OR object in base view*@
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Clients</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home">Home</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Clients</strong>
            </li>
        </ol>
    </div>
</div>
@*END*@

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Clients</h5>
                    <div class="ibox-tools">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#addClientModal">
                            Add New Client
                        </button>
                    </div>
                </div>
                <div class="ibox-content">

                    @if (Model.Items != null && Model.Items.Any())
                    {

                        <div class="m-b-lg">
                            <form asp-action="Index" method="get" id="clientSearchForm">
                                <div class="input-group">
                                    <input type="text" placeholder="Search clients by name..." class="form-control" name="search">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary">Search</button>
                                    </span>
                                </div>
                            </form>
                            @*<div class="m-t-md">
                    <strong>@Model.PagingStatusMessage</strong>
                </div>*@
                            @if (!string.IsNullOrEmpty(Model.Search))
                            {
                                <div class="m-t-md">
                                    <a class="btn btn-xs btn-primary" asp-action="Index" asp-route-search="">
                                        @Model.Search <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            }
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover issue-tracker">
                                <thead>
                                    <tr>
                                        <th>
                                            <a asp-controller="Home" asp-action="Index" asp-route-page="1" asp-route-sort="@ViewData["NameSort"]" class="sortable-column">
                                                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Name)
                                            </a>
                                        </th>
                                        <th>
                                            <a asp-controller="Home" asp-action="Index" asp-route-page="1" asp-route-sort="@ViewData["WebSiteSort"]" class="sortable-column">
                                                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().WebSite)
                                            </a>
                                        </th>
                                        <th>
                                            <a asp-controller="Home" asp-action="Index" asp-route-page="1" asp-route-sort="@ViewData["DirectorNameSort"]" class="sortable-column">
                                                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().DirectorName)
                                            </a>
                                        </th>
                                        <th>
                                            <a asp-controller="Home" asp-action="Index" asp-route-page="1" asp-route-sort="@ViewData["EmailAddressSort"]" class="sortable-column">
                                                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().EmailAddress)
                                            </a>
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="clients-table-body">
                                    @foreach (var item in Model.Items)
                                    {
                                        <tr>
                                            <td>
                                                <a asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.WebSite)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DirectorName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmailAddress)
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-warning btn-xs edit-button" data-id="@item.Id">
                                                    Edit
                                                </button>
                                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-xs">Details</a>
                                                <button type="button" class="btn btn-danger btn-xs delete-button" data-id="@item.Id">
                                                    Delete
                                                </button>
                                            </td>


                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        @*<div class="mt-2 d-flex justify-content-center">
                <ul class="pagination">
                    <li class="page-item">
                        <a asp-controller="Home" asp-action="Index" asp-route-page="1" asp-route-sort="@Model.Sort" asp-route-search="@Model.Search" class="page-link">&lt;&lt;</a>
                    </li>

                    @if (Model.HasPreviousPage)
                    {
                        <li class="page-item">
                            <a asp-controller="Home" asp-action="Index" asp-route-page="@(Model.Page - 1)" asp-route-sort="@Model.Sort" asp-route-search="@Model.Search" class="page-link">&lt;</a>
                        </li>
                        <li class="page-item">
                            <a asp-controller="Home" asp-action="Index" asp-route-page="@(Model.Page - 1)" asp-route-sort="@Model.Sort" asp-route-search="@Model.Search" class="page-link">@(Model.Page - 1)</a>
                        </li>
                    }

                    @for (var i = Model.Page; i <= Model.ForwardPagesToShow; i++)
                    {
                        <li class="page-item @(i == Model.Page ? "active" : "")">
                            <a asp-controller="Home" asp-action="Index" asp-route-page="@i" asp-route-sort="@Model.Sort" asp-route-search="@Model.Search" class="page-link">@i</a>
                        </li>
                    }

                    @if (Model.HasNextPage)
                    {
                        <li class="page-item">
                            <a asp-controller="Home" asp-action="Index" asp-route-page="@(Model.Page  + 1)" asp-route-sort="@Model.Sort" asp-route-search="@Model.Search" class="page-link">&gt;</a>
                        </li>
                    }

                    <li class="page-item">
                        <a asp-controller="Home" asp-action="Index" asp-route-page="@Model.TotalPages" asp-route-sort="@Model.Sort" asp-route-search="@Model.Search" class="page-link">&gt;&gt;</a>
                    </li>
                </ul>
            </div>*@
                    }
                    else
                    {
                        <span>No clients saved.</span>
                    }


                </div>

            </div>
        </div>
    </div>

</div>

<div class="modal fade" tabindex="-1" role="dialog" id="addClientModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Add New Client</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul id="add-client-error-message" class="text-danger list-unstyled mb-md-4"></ul>
                <form action="javascript:void(0);" method="POST" onsubmit="addNewClient()">

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input name="add-client-name" class="form-control" placeholder="Client Name" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input name="add-client-website" class="form-control" placeholder="Web Site" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input name="add-client-director-name" class="form-control" placeholder="Director Name" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input name="add-client-email-address" class="form-control" placeholder="Email Address" />
                        </div>
                    </div>

                    @*<div class="form-group row">
                        <div class="col-sm-10">
                            <label for="add-client-image-file">Company Logo</label>
                            <input id="ImageFile" type="file"
                                   name="add-client-image-file" />
                        </div>
                    </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="add-client-init">Add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="editClientModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Edit Client</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <ul id="edit-client-error-message" class="text-danger list-unstyled mb-md-4"></ul>
                <form action="javascript:void(0);" method="PUT" onsubmit="editClient()">
                    <input type="hidden" name="edit-client-id" value="0" />
                    <div class="form-group row">
                        <label class="col-sm-2" for="edit-client-name">Name</label>
                        <div class="col-sm-10">
                            <input name="edit-client-name" class="form-control" placeholder="Client Name" required />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2" for="edit-client-website">Web Site</label>
                        <div class="col-sm-10">
                            <input type="url" name="edit-client-website" class="form-control" placeholder="Web Site" required />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2" for="edit-director-name">Director Name</label>
                        <div class="col-sm-10">
                            <input name="edit-client-director-name" class="form-control" placeholder="Director Name" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2" for="edit-client-email-address">Email Address</label>
                        <div class="col-sm-10">
                            <input name="edit-client-email-address" type="email" required class="form-control" placeholder="Email Address" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="edit-client-save">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" tabindex="-1" role="dialog" id="deleteClientModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-danger">Delete Client</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul id="delete-client-error-message" class="text-danger list-unstyled mb-md-4"></ul>
                <form action="javascript:void(0);" method="PUT" onsubmit="deleteClient()">
                    <input type="hidden" name="delete-client-id" value="0" />
                    <label class="col-sm-2" for="edit-client-name">Name</label>
                    <div class="col-sm-12">
                        <strong id="delete-client-name"></strong>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="delete-client-confirm">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/lib/typehead/bootstrap3-typeahead.min.js"></script>
    <script src="~/dist/sourcecode-clientsList.js" asp-append-version="true"></script>
}
